/* Falling flowers background */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: 
    url('https://png.pngtree.com/png-clipart/20230128/original/pngtree-small-pink-flower-watercolor-clipart-png-image_8940833.png');
  background-repeat: repeat;
  background-size: 80px;
  opacity: 0.3;
  animation: fall 10s linear infinite;
  z-index: 5;
}

@keyframes fall {
  0% { background-position: 0 -100%; }
  100% { background-position: 0 100%; }
}

